# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
*.egg-info/
 
# OS / Editor
.DS_Store
.idea/
.vscode/
 
# Logs
*.log
 
# Flink / Kafka runtime artifacts
flink-checkpoints/
*.tar.gz
data/
 
# Environment variables / secrets
.env
*.pem
*.key
 